* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-top: 50px;
  margin-bottom: 350px;
  display: flex;
  font-size: 30px;
  color: rgb(25, 25, 224);
}

#playarea {
  background-color: rgb(36, 34, 34);
  width: 600px;
  height: 240px;
  border: 3px solid rgb(25, 25, 224);
  background-image: radial-gradient(white 10%, transparent 0%);
  background-size: 30px 30px;
  position: absolute;
  z-index: 0;
}

#pacman {
  width: 26px;
  height: 26px;
  border-radius: 50%; 
  position: absolute;
  display: block;
  margin-left: 0px;
  margin-top: 0px;
  background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0);
  z-index: 2;
}

.eaten {
  width: 25px;
  height: 25px;
  background-color: rgb(36, 34, 34);
  position: absolute;
  z-index: 1;
}

@keyframes eatRight {
  0%, 50% { background: conic-gradient(yellow 55deg, transparent 0 125deg, yellow 0); }
  25% { background: conic-gradient(yellow 55deg, yellow 0);}
}

@keyframes eatLeft{
  0%, 50% { background: conic-gradient(yellow 235deg, transparent 0 310deg, yellow 0); }
  25% { background: conic-gradient(yellow 235deg, yellow 0);}
}

@keyframes eatDown{
  0%, 50% { background: conic-gradient(yellow 140deg, transparent 0 215deg, yellow 0); }
  25% { background: conic-gradient(yellow 140deg, yellow 0);}
}

@keyframes eatUp{
  0%, 50% { background: conic-gradient(transparent 0 45deg, yellow 0 315deg, transparent 0); }
  25% { background: conic-gradient(yellow 0, yellow 0);}
}

@keyframes win{
  0%, 100% { font-size: 30px; color: rgb(25, 25, 224);}
  50% { font-size: 40px; color:rgb(81, 121, 209);}
}






